.tabs {
	position: relative;

	display: flex;
	align-items: center;
	column-gap: var(--space-sm);

	width: 100%;

	overflow-x: auto;
	overflow-y: hidden;

	white-space: nowrap;

	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&:hover {
		overscroll-behavior-y: contain;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--space-sm);

	min-width: 80px;

	padding: var(--space-sm);

	position: relative;
	z-index: 2;

	font-size: 0.9em;
	font-weight: var(--font-weight-medium);
	white-space: nowrap;
	letter-spacing: -0.03em;

	cursor: pointer;

	color: var(--color-black);
	background: transparent;

	border: 1px solid var(--color-black);
	border-radius: var(--radius-md);

	transition: color 0.3s linear;

	&_active {
		color: var(--color-white);
	}
}

.indicator {
	position: absolute;
	// bottom: 5px;
	height: 100%;

	background-color: var(--color-black);

	border: 1px solid var(--color-black);
	border-radius: var(--radius-md);
	z-index: 1;
	will-change: transform, width;
}
